@keyframes show-toast {
    0% {
        bottom: -100%
    }

    20% {
        bottom: 100px
    }

    80% {
        bottom: 100px
    }

    100% {
        bottom: -100px
    }
}

.show-notification {
    position: fixed;
    bottom: 100%;
    right: 20px;
    z-index: 1000;
    animation-name: show-toast;
    animation-duration: 8s;
}

.btn {
    padding: 2px 1.75em;
    font-size: 12px;
    cursor: pointer;
}

#cart_counter {
    border-radius: 50px;
    position: relative;
    bottom: 10px;
    left: -5px;
}

#shopping_cart_icon {
    font-size: 20px;
}

.opening_hours {
    width: 500px;
}

.opening_hours td {
    border: none !important;
}

#opening_hours select {
    padding: 5px 10px !important;
}

.add_hour {
    padding: 7px 15px 7px 15px;
}

.quantity {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -10px;
}

.custom-login-opt {
    width: 600px;
}

.error {
    color: red;
}

/* START: language switcher */
.language-toggle {
    width: 140px;
}
form.language-switch-form {
    display: inline-block;
    margin-left: 10px;
}
/* Language Select Dropdown */
.language-select {
    padding: 5px 10px;
    font-size: 12px; /* Adjusted text size */
    border: 2px solid #F36F25;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    background-repeat: no-repeat;
    background-position: left 8px center; /* Position the flag on the left */
    background-size: 20px 15px; /* Adjust the size of the flag */
    padding-left: 35px; /* Add space for the flag icon */
}

/* English Flag */
.language-select.en {
    background-image: url("../images/flags/england.png");
}

/* Vietnamese Flag */
.language-select.vi {
    background-image: url("../images/flags/vietnam.png");
}
/* END: language switcher  */


table.table.revision-category-table th {
    width: 20px;
    height: 40px;
    background-color: #ededf6;
}

table.table.revision-category-table td {
    width: 108px;
    height: auto;
    line-height: 1.5;
}